*{
  box-sizing: border-box;
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper{
    /* width: 300px; */
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.slide_img_area {
  position: relative;
  overflow: hidden;
  height: 50%;
}

.slide_img_area img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.slide_content_area{
  height: 50%;
}
